{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
<variant-selects
  id="variant-selects-{{ section.id }}"
  data-section="{{ section.id }}"
  {{ block.shopify_attributes }}
>
  {%- assign size_option = product.options_with_values | where: "name", "Size" | first -%}
  {%- assign color_option = product.options_with_values | where: "name", "Color" | first -%}

  {%- if size_option -%}
    <div class="product-form__input product-form__input--dropdown">
      <div class="select">
        <select
          id="Option-{{ section.id }}-size"
          class="select__select"
          name="options[{{ size_option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% for value in size_option.values %}
            <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {%- endif -%}

  {%- if color_option -%}

    <div class="product-form__input product-form__input--dropdown" style="width: 50%">
      <div class="select">
        <select
          id="Option-{{ section.id }}-size"
          class="select__select"
          name="options[{{ color_option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% for value in color_option.values %}
            <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {%- endif -%}


  <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
</variant-selects>
{%- endunless -%}
