{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
<variant-selects
  id="variant-selects-{{ section.id }}"
  class="product-page-variants product-form__buttons"
  data-section="{{ section.id }}"
  {{ block.shopify_attributes }}
>
  {%- assign size_option = product.options_with_values | where: "name", "Size" | first -%}
  {%- assign color_option = product.options_with_values | where: "name", "Color" | first -%}

  {%- if size_option -%}
    <div class="product-form__input product-form__input--dropdown">
      <div class="select">
        <select
          id="Option-{{ section.id }}-size"
          class="select__select"
          name="options[{{ size_option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% for value in size_option.values %}
            <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {%- endif -%}

  <div style="display: flex; align-items: center;">
      {%- if color_option -%}

    <div class="" style="width: 50%; margin-right: 1rem;">
      <div class="select" style="width: 100%;">
        <select
          id="Option-{{ section.id }}-size"
          class="select__select"
          name="options[{{ color_option.name | escape }}]"
          form="{{ product_form_id }}"
        >
          {% for value in color_option.values %}
            <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {%- endif -%}

  <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}" style="width: 50%;">
                        <button class="quantity__button" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          type="number"
                          name="quantity"
                          id="Quantity-{{ section.id }}"
                          data-cart-quantity="{{ cart_qty }}"
                          data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          form="{{ product_form_id }}"
                        >
                        <button class="quantity__button" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
  </div>



  <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
</variant-selects>
{%- endunless -%}
