{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
<variant-selects
  id="variant-selects-{{ section.id }}"
  class="product-page-variants product-form__buttons"
  data-section="{{ section.id }}"
  {{ block.shopify_attributes }}
>
  {%- assign size_option = product.options_with_values | where: "name", "Size" | first -%}
  {%- assign color_option = product.options_with_values | where: "name", "Color" | first -%}

  <form action="/cart/add" method="post" id="add-to-cart-form-{{ product.id }}" class="product-form" enctype="multipart/form-data">
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
  <select name="id" id="VariantSelector-{{ product.id }}" class="card_select" style="flex: 1; width: 100%; margin-bottom: 1rem; border: 3px solid #015a3c !important;" onchange="updateVariantId(this)">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>

  <div style="display: flex; align-items: center;">

  <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}" style="width: 100%; margin-bottom: 1rem; background: white;">
                        <button class="quantity__button" name="minus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-minus' %}
                        </button>
                        <input
                          class="quantity__input"
                          type="number"
                          style="margin-left: auto; margin-right: auto;"
                          name="quantity"
                          id="Quantity-{{ section.id }}"
                          data-cart-quantity="{{ cart_qty }}"
                          data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                          {% endif %}
                          step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                          value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                          form="{{ product_form_id }}"
                        >
                        <button class="quantity__button" name="plus" type="button">
                          <span class="visually-hidden">
                            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                          </span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>
  </div>

  </form>

<script>
  function updateVariantId(selectElement) {
  var selectedVariantIndex = selectElement.selectedIndex;
  var selectedVariant = selectElement.options[selectedVariantIndex];
  var variantId = selectedVariant.value;

  // Aggiorna l'input nascosto con l'ID della variante selezionata
  document.querySelector('input[name="id"]').value = variantId;
}
</script>

  <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
</variant-selects>
{%- endunless -%}
