{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .field:after{
    box-shadow: none;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: var(--animation-slide-in);
  }

  .form__input {
    border: 3px solid #015a3c;
    height: 44px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    box-shadow: none !important;
    caret-color: #015a3c;
    color: #015a3c;
    background: #fefefe;
    padding-inline: 8px;
    font-family: SpaceGrotesk-Medium, sans-serif !important;
  }
  .text-area {
    padding-top: 8px;
  }

   .form__input input::placeholder {
    color: #015a3c !important;
    font-weight: 500;
    text-transform: uppercase!important;
    opacity:1;
  }

  .form__message{
    color: #015a3c !important;
  }

   .submit-button {
    background: #015a3c;
    height: 44px;
    width: 228px;
    border: none;
    border-radius: 9px;
    font-size: 14px;
    color: #fff;
    margin-top: 2rem;
    font-family: SpaceGrotesk-Medium, sans-serif !important;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
    @media screen and (max-width: 750px) {
    .title {
      font-size: 18px!important;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2
        style="text-align: center; color: #015A3C;"
        class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      >
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate'
      assign form_id = section.id
      assign redirect = "/pages/contact-success"
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: form_id, class: contact_form_class, redirect_to: redirect, return_to: redirect  -%}
      <div class="form-wrapper">
        <input type="hidden" name="contact[requestType]" id="requestType" value="{{ section.settings.requestType }}"/>
        <input
          class="form__input"
          autocomplete="name"
          type="text"
          id="ContactForm-name"
          name="contact[{{ 'templates.contact.form.name' | t }}]"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="NAME"
        >
        <div class="field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="form__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="EMAIL"
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
        <div>
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area form__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="MESSAGE"
          >
          {{- form.body -}}
        </textarea>
        </div>
      </div>
      <button
        type="submit"
        class="submit-button"
        form="{{ form_id }}"
        style="padding-left: 2rem; padding-right: 2rem; width: 248px; margin-top: 3rem; background-color: #015A3C;"
      >
        {{ section.settings.buttonText }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "text",
      "id": "buttonText",
      "default": "SUBMIT",
      "label": "Button Text"
    },
    {
      "type": "radio",
      "id": "requestType",
      "label": "Request Type",
      "options": [
        {
          "value": "MERCH",
          "label": "For Merchandise"
        },
        {
          "value": "BUSINESS",
          "label": "For Business"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Merch form",
      "settings": {
        "heading": "FOR MERCHANDISE",
        "requestType": "MERCH"
      }
    },
    {
      "name": "Business form",
      "settings": {
        "heading": "FOR BUSINESS",
        "requestType": "BUSINESS"
      }
    }
  ]
}
{% endschema %}
