<style>
  .banner-wrapper {
    position: relative;
    height: fit-content;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-img{
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
  }

  .banner-text-container {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

  }

  .banner-title {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 20.4px;
  }

  .banner-date{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    line-height: 20.4px;
  }

</style>

<div class="banner-wrapper">
  <img
  class="banner-img"
    srcset="{{ section.settings.banner_image | image_url: width:760 }}, {{ section.settings.banner_image | image_url: width: 760 }} 2x"
    src="{{ section.settings.banner_image | image_url: width: 760 }}"
    alt="{{ section.settings.banner_image.alt | escape }}"
    loading="lazy"
    width="{{ section.settings.banner_image.width }}"
    height="{{ section.settings.banner_image.height }}"
  >
  <div class="banner-text-container">
    <p class="banner-title">{{ section.settings.banner_title }}</p>
    <p class="banner-date">{{ section.settings.date }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Header Banner",
  "tag": "section",
  "class": "hero",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title",
      "default": "UPCOMING RELEASE"
    },
    {
        "type":"text",
        "id": "date",
        "label": "Release date"
    }
  ],
  "presets": [{ "name": "Hero Banner" }]
}
{% endschema %}
