{{ 'hero.css' | asset_url | stylesheet_tag }}

<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js" defer></script>

{% liquid
    assign release_date = section.settings.date
%}

<script>
    var releaseDate = {{ release_date }};
    var currentDate = new Date();
    console.log({ releaseDate, currentDate });
</script>

<div class="banner-wrapper page-width">

  <img
    class="banner-img"
    srcset="{{ section.settings.banner_image | image_url: width:760 }}, {{ section.settings.banner_image | image_url: width: 760 }} 2x"
    src="{{ section.settings.banner_image | image_url: width: 760 }}"
    alt="{{ section.settings.banner_image.alt | escape }}"
    loading="lazy"
    width="{{ section.settings.banner_image.width }}"
    height="{{ section.settings.banner_image.height }}"
  >
  <div class="banner-text-container">
    <p class="banner-title">{{ section.settings.banner_title }}</p>
    <p class="banner-date">{{ section.settings.date }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Header Banner",
  "tag": "section",
  "class": "hero",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title",
      "default": "UPCOMING RELEASE"
    },
    {
      "type": "text",
      "id": "date",
      "label": "Release date",
      "info": "Format: MM/DD/YYYY hh:mm:ss"
    }
  ],
  "presets": [{ "name": "Hero Banner" }]
}
{% endschema %}
